<head>
  <!-- Agrega este enlace dentro de la etiqueta <head> de index.html -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
</head>
<div class="login-container">
  <div class="login-form">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      id="Leaf"
      x="0"
      y="0"
      version="1.1"
      viewBox="0 0 20 20"
    >
      <path
        d="M19.025 3.587c-4.356 2.556-4.044 7.806-7.096 10.175-2.297 1.783-5.538.88-7.412.113 0 0-1.27 1.603-2.181 3.74-.305.717-1.644-.073-1.409-.68C3.905 9.25 14.037 5.416 14.037 5.416s-7.149-.303-11.927 5.94c-.128-1.426-.34-5.284 3.36-7.65 5.016-3.211 14.572-.715 13.555-.119z"
        fill="#34a853"
        class="color000000 svgShape"
      ></path>
    </svg>
    <h1 class="welcome-text">Cambiar contraseña</h1>

    <form (ngSubmit)="onSubmit()">
      <div class="input-container">
        <label for="password">Nueva Contraseña</label>
        <div class="input-wrapper">
          <input
            id="password"
            [type]="passwordVisible1 ? 'text' : 'password'"
            [(ngModel)]="password"
            name="password"
            placeholder="Ingrese la nueva contraseña"
            required
          />
          <span class="toggle-password" (click)="togglePasswordVisibility1()">
            <svg
              stroke="currentColor"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                stroke-width="2"
                stroke-linejoin="round"
                stroke-linecap="round"
              ></path>
              <path
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                stroke-width="2"
                stroke-linejoin="round"
                stroke-linecap="round"
              ></path>
            </svg>
          </span>
        </div>
      </div>

      <div class="input-container">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <div class="input-wrapper">
          <input
            id="confirmPassword"
            [type]="passwordVisible2 ? 'text' : 'password'"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            placeholder="Confirme la nueva contraseña"
            required
          />
          <span class="toggle-password" (click)="togglePasswordVisibility2()">
            <svg
              stroke="currentColor"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                stroke-width="2"
                stroke-linejoin="round"
                stroke-linecap="round"
              ></path>
              <path
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                stroke-width="2"
                stroke-linejoin="round"
                stroke-linecap="round"
              ></path>
            </svg>
          </span>
        </div>
      </div>

      <button type="submit">Restablecer Contraseña</button>
    </form>
  </div>
</div>
